<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="loglevel" value="DEBUG" />
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Contacts">
            <param name="android-package" value="org.apache.cordova.contacts.ContactManager" />
        </feature>
        <feature name="SplashScreen">
            <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
            <param name="onload" value="true" />
        </feature>
        <feature name="Whitelist">
            <param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
            <param name="onload" value="true" />
        </feature>
        <feature name="PinDialog">
            <param name="android-package" value="z1key.phonegap.plugins.PinDialog" />
        </feature>
        <feature name="DatePickerPlugin">
            <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin" />
        </feature>
        <feature name="NetworkStatus">
            <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
        </feature>
        <splash density="port-hdpi" src="res/drawable-port-hdpi/screen.png" />
        <splash density="port-ldpi" src="res/drawable-port-ldpi/screen.png" />
        <splash density="port-mdpi" src="res/drawable-port-mdpi/screen.png" />
        <splash density="port-xhdpi" src="res/drawable-port-xhdpi/screen.png" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="Orientation" value="portrait" />
    </config-file>
    <plugin name="me.dusty.contacts" spec="0.2.12" source="pgb" />
    <gap:plugin name="z1key.phonegap.plugins.pindialog" source="npm"/>
    <gap:plugin name="cordova-plugin-datepicker" source="npm" />
    <plugin name="org.apache.cordova.network-information" spec="0.2.12" source="pgb" />
    <plugin name="org.apache.cordova.splashscreen" spec="0.2.7" source="pgb" />
    <allow-intent href="market:*" />
    <name>Lelly</name>
    <description>
        Lelly
    </description>
    <author email="apes@at.work" href="http://www.apes-at-work.com/">
        Apes At Work
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
