<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.lelly" version="0.0.2"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Lelly</name>
    <description>
        Lelly
    </description>
    <author email="apes@at.work" href="http://www.apes-at-work.com/">
        Apes At Work
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="phonegap-version" value="3.7.0"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="orientation" value="portrait" />
    <!--<preference name="permissions" value="none"/>-->
    <gap:plugin name="me.dusty.contacts" spec="0.2.12" source="pgb" />
    <gap:plugin name="org.apache.cordova.home" source="npm"/>
    <gap:plugin name="com.teamnemitoff.phonedialer" spec="0.3.0" source="pgb" />
    <gap:plugin name="z1key.phonegap.plugins.pindialog" source="npm"/>
    <gap:plugin name="cordova-plugin-datepicker" source="npm" />
    <gap:plugin name="org.apache.cordova.camera" spec="0.3.2" source="pgb" />
    <gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4"/>
    <gap:plugin name="com.ionic.keyboard" version="1.0.3"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <!--<gap:plugin name="org.apache.cordova.splashscreen"/>-->
    <gap:plugin name="net.yoik.cordova.plugins.screenorientation" version="1.3.1"/>
    <!--<plugin name="cordova-plugin-file" spec="3.0.0" source="pgb" />-->
    <!--<gap:plugin name="cordova-plugin-file-transfer" spec="1.3.0" source="pgb" />-->
    <gap:splash gap:platform="android" src="res/screen/android/splash.png"/>
    <gap:splash gap:platform="ios" src="res/screen/ios/splash.png"/>
    <icon src="res/icon/icon.png"/>
    <splash src="res/screen/splash.png"/>
    <preference name="SplashScreen" value="splash" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AutoHideSplashScreen" value="false" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.WRITE_CONTACTS" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>
        <config-file target="config.xml" parent="/*" >
            <!--<feature name="Keyboard">-->
                <!--<param name="android-package" value="com.ionic.keyboard.IonicKeyboard" />-->
                <!--<param name="onload" value="true" />-->
            <!--</feature>-->
            <!--<feature name="Contacts">-->
                <!--<param name="android-package" value="org.apache.cordova.contacts.ContactManager" />-->
            <!--</feature>-->
            <!--<feature name="DatePickerPlugin">-->
                <!--<param name="android-package" value="com.plugin.datepicker.DatePickerPlugin" />-->
            <!--</feature>-->
            <!--<feature name="NetworkStatus">-->
                <!--<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />-->
            <!--</feature>-->
            <!--<feature name="SplashScreen">-->
                <!--<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />-->
                <!--<param name="onload" value="true" />-->
            <!--</feature>-->
            <!--<feature name="Whitelist">-->
                <!--<param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />-->
                <!--<param name="onload" value="true" />-->
            <!--</feature>-->
            <!--<feature name="Home">-->
                <!--<param name="android-package" value="org.apache.cordova.home.Home" />-->
            <!--</feature>-->
            <!--<feature name="PinDialog">-->
                <!--<param name="android-package" value="z1key.phonegap.plugins.PinDialog" />-->
            <!--</feature>-->
            <!--<feature name="Device">-->
                <!--<param name="android-package" value="org.apache.cordova.device.Device" />-->
            <!--</feature>-->
            <!--<feature name="Camera">-->
                <!--<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />-->
            <!--</feature>-->
        </config-file>
        <icon qualifier="ldpi" src="res/icon/android/ldpi.png"/>
        <icon qualifier="mdpi" src="res/icon/android/mdpi.png"/>
        <icon qualifier="hdpi" src="res/icon/android/hdpi.png"/>
        <icon qualifier="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon qualifier="xxhdpi" src="res/android/xxhdpi.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file target="config.xml" parent="/*" >
            <!--<feature name="Keyboard"><param name="ios-package" onload="true" value="IonicKeyboard"/></feature>-->
            <!--<feature name="InAppBrowser"><param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" /></feature>-->
            <!--<feature name="InAppBrowser"><param name="ios-package" value="CDVInAppBrowser" /></feature>-->
            <!--<feature name="LocalStorage"><param name="ios-package" value="CDVLocalStorage" /></feature>-->
            <!--<feature name="Keyboard"><param name="ios-package" onload="true" value="IonicKeyboard" /></feature>-->
            <!--<feature name="ImagePicker"><param name="ios-package" value="SOSPicker" /></feature>-->
            <!--<feature name="Contacts"><param name="ios-package" value="CDVContacts" /></feature>-->
            <!--<feature name="DatePicker"><param name="ios-package" value="DatePicker" /></feature>-->
            <!--<feature name="NetworkStatus"><param name="ios-package" value="CDVConnection" /></feature>-->
            <!--<feature name="SplashScreen">-->
                <!--<param name="ios-package" value="CDVSplashScreen" />-->
                <!--<param name="onload" value="true" />-->
            <!--</feature>-->
            <!--<feature name="PinDialog"><param name="ios-package" value="CDVPinDialog" /></feature>-->
            <!--<feature name="Geolocation"><param name="ios-package" value="CDVLocation" /></feature>-->
            <!--<feature name="Camera"><param name="ios-package" value="CDVCamera" /></feature>-->
            <!--<feature name="Device"><param name="ios-package" value="CDVDevice" /></feature>-->
        </config-file>
        <preference name="FadeSplashScreen" value="false"/>
        <preference name="FadeSplashScreenDuration" value="5000"/>
        <preference name="ShowSplashScreenSpinner" value="true"/>
        <icon height="72" src="res/icon/ios/icon-1x.png" width="72"/>
        <icon height="120" src="res/icon/ios/icon-2x.png" width="120"/>
        <icon height="152" src="res/icon/ios/icon-2_2x.png" width="152"/>
        <icon height="167" src="res/icon/ios/icon-3_2x.png" width="167"/>
        <icon height="180" src="res/icon/ios/icon-3x.png" width="180"/>
    </platform>
</widget>
