@charset "UTF-8";
.menu .fa, .menu .right p, h1 {
    text-align: center
}

input, li {
    display: block
}

.details-pages .description-block2, .did-u-call p, .overview .descriptions a, .register-complete p, .register-pages header p, .the-end-pages p, .upper {
    text-transform: uppercase
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline-style: none
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 100%
}

@font-face {
    font-family: Helvetica LT Std-Roman;
    src: local("☺"), url(../fonts/HelveticaLTStd-Roman.ttf) format("truetype"), url(../fonts/HelveticaLTStd-Roman.svg) format("svg");
    font-style: normal
}

@font-face {
    font-family: HelveticaLTStd-Cond;
    src: local("☺"), url(../fonts/HelveticaLTStd-Cond.ttf) format("truetype"), url(../fonts/HelveticaLTStd-Cond.svg) format("svg");
    font-style: normal
}

a, a:active, a:visited {
    color: #6a96d3;
    font-weight: 700;
    text-decoration: none
}

.register-pages, html {
    width: 100%;
    height: 100%
}

input {
    margin: 0 auto;
    font-size: 2.5em;
    -webkit-appearance: none
}

h1 {
    font-size: 9em;
    letter-spacing: .05em;
    color: #fff;
    font-family: Cabin, sans-serif
}

.bold {
    font-weight: 700
}

.big-text {
    font-size: 2.7em;
    padding-top: 2%
}

.medium-text {
    font-size: 2.2em;
    padding-top: 70%;
    font-weight: 700
}

.menu {
    height: 51%
}

.menu .left {
    float: left;
    margin: 2.5%
}

.menu .right {
    float: right;
    margin: 2.5%
}

.menu .right p {
    font-size: 5em !important;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 !important;
    line-height: .85em !important
}

.menu .fa {
    width: 1.44em;
    line-height: 1.44em
}

.menu .fa-2x {
    font-size: 3.3em
}

.star .big-circle i {
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    vertical-align: middle
}

.mini-borders form div {
    position: relative;
    width: 82%;
    margin: 0 auto
}

.mini-borders form div::after, .mini-borders form div::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    height: 12px;
    background: #000
}

.blue-button, .green-button, .orange-button, .pink-button, .purple-button, .red-button {
    height: 1.7em;
    line-height: 1.7em;
    width: 46.03%;
    vertical-align: middle;
    text-align: center
}

.mini-borders form div::after {
    left: auto;
    right: 0
}

::-webkit-input-placeholder {
    color: #000
}

:-moz-placeholder {
    color: #000
}

::-moz-placeholder {
    color: #000
}

:-ms-input-placeholder {
    color: #000
}

.red-button {
    color: #fff;
    background-color: #f16d54
}

.red-button:active {
    background-color: #ce2f11
}

.blue-button {
    color: #fff;
    background-color: #6a96d3
}

.blue-button:active {
    background-color: #3162a6
}

.purple-button {
    color: #fff;
    background-color: #8e7ab9
}

.purple-button:active {
    background-color: #5b4786
}

.green-button {
    color: #fff;
    background-color: #39bb99
}

.green-button:active {
    background-color: #216d59
}

.pink-button {
    color: #fff;
    background-color: #ee5567
}

.pink-button:active {
    background-color: #c91429
}

.orange-button {
    color: #fff;
    background-color: #f2ba41
}

.small-circle-green, .small-circle-pink, .small-circle-red {
    width: 2.4em;
    height: 2.4em;
    display: inline-block;
    margin: 0 .33em
}

.orange-button:active {
    background-color: #c0870d
}

.small-circle-red {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f26e54
}

.small-circle-green {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #a0ce69
}

.small-circle-pink {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ec5664
}

.small-circle-orange {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 2.4em;
    height: 2.4em;
    display: inline-block;
    margin: 0 .33em;
    background-color: #ffcd58
}

.small-circle-blue, .small-circle-purple {
    -webkit-border-radius: 50%;
    width: 2.4em;
    height: 2.4em;
    display: inline-block;
    margin: 0 .33em
}

.small-circle-blue {
    border-radius: 50%;
    background-color: #6897d0
}

.small-circle-purple {
    border-radius: 50%;
    background-color: #d2b8c9
}

.medium-circle-gray {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #e5e8ed;
    width: 5em;
    height: 5em
}

.medium-circle-green {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    background-color: #77cab8
}

.medium-circle-pink, .medium-circle-red {
    -webkit-border-radius: 50%;
    width: 5.5em;
    height: 5.5em
}

.medium-circle-red {
    border-radius: 50%;
    background-color: #ec5664
}

.medium-circle-pink {
    border-radius: 50%;
    background-color: pink
}

.big-circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    background: #f2ba41;
    color: #fff
}

.big-circle .fa-3x {
    font-size: 4em
}

.square {
    width: 4.7em;
    height: 4.7em;
    background: rgba(64, 64, 65, .8);
    color: #fff;
    -webkit-border-radius: 20%;
    border-radius: 20%
}

.medium-square {
    width: 2.5em;
    height: 2.5em;
    float: right;
    margin: 3% 6% 0 0;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    font-size: 4em;
    font-family: Cabin, sans-serif;
    background-color: #ee5567;
    -webkit-box-shadow: 0 0 15px 1px rgba(143, 136, 143, .4);
    box-shadow: 0 0 15px 1px rgba(143, 136, 143, .4)
}

.enter, .register-pages {
    background-color: #e5e8ed
}

.register-pages {
    color: #3a3d44
}

.register-pages .blue-button, .register-pages .red-button {
    margin-top: 8.4%
}

.register-pages p {
    text-align: center;
    font-size: 1.8em
}

.register-pages .or {
    font-size: 3.5em;
    margin: 6% auto -2%;
    color: #3a3d44
}

.register-pages .small-margin {
    margin-top: 3%
}

.enter {
    border-bottom: 2px solid #000;
    color: #000;
    margin-top: 8.5%;
    width: 59%;
    padding-left: 2%
}

.register-pages header, .the-end-pages {
    background-color: #bed8cb
}

.register-pages header {
    width: 100%;
    height: 36.88375%;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 0 20px 1px rgba(143, 136, 143, .4);
    box-shadow: 0 0 20px 1px rgba(143, 136, 143, .4)
}

.register-pages header p {
    padding: 11% 0 5%;
    font-size: 3.6em
}

#div_forgotPin .enter {
    margin-top: 8%
}

#div_forgotPin form .purple-button {
    margin: 5.4% auto 30%
}

#div_forgotPin span, #div_sendPin span {
    margin-left: 7%;
    font-size: 1.95em;
    line-height: 1.21em
}

#div_forgotPin span {
    display: block
}

#div_forgotPin .back-sent {
    margin-top: 70%
}

#div_forgotPin header, #div_sendPin header {
    margin-bottom: 5%
}

#div_sendPin .green-button {
    margin-top: 71%
}

.spinner-box {
    margin: 6% auto 0
}

.spinner-box .red-button {
    display: inline-block;
    margin: 0 2% 0 27%
}

.the-end-pages p {
    text-align: center;
    color: #3e4852
}

.the-end-pages .lock img {
    margin: 8% auto 0;
    width: 8em;
    height: auto;
    display: block
}

.details-pages {
    background-color: #e5e8ed;
    height: 100%
}

.details-pages .blue-header {
    width: 100%;
    height: 7%;
    background-color: #6a96d3
}

.details-pages p {
    text-align: left;
    font-size: 1.43em;
    color: #5e6166
}

.details-pages .article {
    width: 90%;
    padding: 16.5% 0 7% 8%;
    font-size: 1.35em
}

.details-pages #form_register {
    width: 82%;
    margin: 0 auto 9%
}

.details-pages .my-margin {
    margin-top: 7%
}

.details-pages .need-margin {
    margin-bottom: 1%;
    padding-top: 2%;
    line-height: 1.5em
}

.details-pages .green-header, .details-pages .red-header {
    height: 20%
}

.details-pages .green-header p, .details-pages .red-header p {
    color: #000;
    text-transform: uppercase;
    padding: 0 0 0 8%;
    font-weight: 700;
    font-size: 2.5em
}

.details-pages .green-header .need-margin, .details-pages .red-header .need-margin {
    padding-top: 6%;
    margin-bottom: 0
}

.details-pages .green-header .medium-square, .details-pages .red-header .medium-square {
    background-color: #bcd8ca
}

.details-pages .green-header .medium-square {
    background-color: #6897d0
}

.details-pages .white-block {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #d0d0d0;
    -webkit-user-select: none;
    display: table
}

.details-pages .button-block, .details-pages .button-block2, .details-pages .description-block, .details-pages .description-block2 {
    display: table-cell;
    vertical-align: middle
}

.details-pages .description-block {
    width: 67%;
    font-size: 1.8em;
    padding-left: 7%;
    height: 100%;
    line-height: 100%;
    color: #5e6166;
    font-weight: 600
}

.details-pages .fa-3x {
    font-size: 4.5em
}

.details-pages .description-block2 {
    font-size: 1.8em;
    padding-left: 4%;
    height: 100%;
    line-height: 100%;
    color: #5e6166;
    width: 69%;
    font-weight: 600
}

.details-pages .button-block2 {
    height: 100%;
    width: 10%;
    padding-left: 9.5%
}

.details-pages .button-block2 span {
    display: table;
    vertical-align: middle
}

.details-pages .button-block2 span i {
    display: table-cell
}

.details-pages .button-block2 label {
    line-height: 100%
}

.details-pages .button-block2 .fa {
    color: #e5e8ed;
    vertical-align: middle;
    width: 100%;
    text-align: center
}

.details-pages .enter {
    font-size: 2.6em;
    margin: 0 auto 8.2%;
    width: 98%;
    padding-left: 2%;
    font-weight: 300
}

.details-pages .last {
    margin-bottom: 5%
}

.details-pages .likes {
    display: inline-block;
    color: #cdcdcd
}

.details-pages .fa {
    vertical-align: middle
}

.details-pages .rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.details-pages input[type=radio] + label i {
    color: #cdcdcd
}

.details-pages input[type=radio]:checked + label i {
    color: #a390c4
}

.details-pages input[type=checkbox] + label i {
    color: #cdcdcd
}

.details-pages input[type=checkbox]:checked + label i {
    color: #ec5664
}

.details-pages input[type=checkbox]:checked + label .medium-circle-gray {
    border: .3em solid #ec5664;
    background-color: #fff
}

.details-pages span {
    display: inline-block;
    vertical-align: middle
}

.details-pages .fa-2x {
    font-size: 3.6em
}

.details-pages .pink-button {
    margin-top: 2.2%
}

.details-pages #div_registerLikes {
    overflow-x: auto
}

.details-pages #div_registerLikes .pink-button {
    margin-top: 1.5%
}

.details-pages .scroll {
    height: 100%
}

.details-pages .likes-box {
    overflow-x: auto;
    height: 58%
}

.details-pages .likes-box .scroll, .details-pages .likes-box .scroll form, .details-pages .likes-box .scroll form ul {
    height: 100%
}

.details-pages .likes-box .scroll form ul li {
    height: 20%
}

.name-pages, .name-pages form {
    height: 100%
}

.details-pages .second-margin {
    margin-top: 3%
}

.name-pages {
    background-color: #bcd8ca;
    color: #434a54
}

.name-pages .medium-square {
    background-color: #d2b8c9
}

.name-pages .logo {
    height: 30%
}

.name-pages .enter {
    border-bottom: 2px solid #434a54;
    color: #434a54;
    width: 59%;
    background-color: #bcd8ca;
    margin: 9.5% -1em 11% 20%;
    font-weight: 300;
    display: inline-block
}

.name-pages .medium-circle-pink {
    background-color: #d2b8c9;
    color: #fff;
    display: inline-block;
    width: 5em;
    height: 5em;
    vertical-align: middle;
    line-height: 6.5em;
    text-align: center
}

.name-pages .medium-circle-pink .fa {
    font-size: 3.25em
}

.name-pages .need-margin {
    margin-top: 8%
}

.name-pages p {
    padding-left: 8%;
    font-size: 1.95em
}

.name-pages .pink-button {
    margin-top: 26%
}

.register-complete {
    background-color: #bcd8ca
}

.register-complete .logo {
    padding-top: 35%
}

.register-complete .medium-square {
    width: 2.2em;
    height: 2.2em;
    font-size: 7.5em;
    line-height: 2em;
    float: none;
    margin: 0 auto;
    background-color: #bcd8ca
}

.register-complete p {
    text-align: center;
    color: #3e4852;
    font-size: 3.4em
}

.register-complete .medium-text {
    padding-top: 4%;
    font-size: 2.3em
}

.register-complete .circles {
    margin: 3% auto;
    width: 19.8em
}

.star-point {
    float: right;
    margin: 2% 3%
}

.star-point img {
    width: 6em;
    height: auto
}

.feeling-pages {
    background-color: #e5e8ed;
    height: 100%
}

.feeling-pages .star-point {
    position: absolute;
    bottom: -3em;
    right: 5%;
    margin: 0
}

.feeling-pages p {
    color: #fff;
    font-size: 2.55em;
    padding-left: 9%
}

.feeling-pages .bold {
    font-size: 2.8em
}

.feeling-pages .green-block {
    height: 24.35%;
    background-color: #39ba99;
    position: relative
}

.feeling-pages .blue-block, .feeling-pages .help .red-block, .help .feeling-pages .red-block {
    height: 16.13%;
    background-color: #5c97b5;
    font-size: 1.2em
}

.feeling-pages .blue-block .bold, .feeling-pages .help .red-block .bold, .help .feeling-pages .red-block .bold {
    padding-top: 6%;
    font-size: 2.3em
}

.feeling-pages .blue-block .upper, .feeling-pages .help .red-block .upper, .help .feeling-pages .red-block .upper {
    font-size: 2.05em
}

.feeling-pages .smiles {
    width: 90%;
    margin: 5.5% auto 9%;
    height: 15%
}

.feeling-pages .smiles .smile-one {
    width: 33.3%;
    float: left;
    height: 15%
}

.feeling-pages .smiles .smile-one .smile-type {
    width: 40%;
    height: 46%;
    margin: 0 auto
}

.feeling-pages .smiles .smile-one .smile-type img {
    width: 100%;
    height: auto
}

.feeling-pages .smiles .smile-one p {
    color: #000;
    font-size: 2em;
    text-align: center;
    margin-top: 44%;
    padding: 0
}

.feeling-pages .smiles .smile-one .fa {
    display: block;
    text-align: center
}

.feeling-pages .need-margin {
    margin-bottom: 0
}

.task-pages {
    height: 100%
}

.task-pages .menu {
    height: 40%
}

.task-pages .green-block, .task-pages .purple-block {
    height: 50%;
    background-image: url(../img/01.jpg);
    background-size: cover
}

.done-today .green-block, .task-pages .green-block {
    background-image: url(../img/16.jpg)
}

.task-pages .green-block p, .task-pages .purple-block p {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    line-height: 1.3em
}

.task-pages .green-block .align {
    padding-top: 35%
}

.done-today {
    background-color: #e5e8ed
}

.done-today .star-point {
    float: none;
    position: absolute;
    bottom: -3em;
    left: -webkit-calc(50% - 3.5em);
    left: calc(50% - 3.5em)
}

.done-today .star-point img {
    width: 7em;
    margin: 0 auto;
    display: block
}

.done-today .icons img {
    width: 4.5em;
    height: auto;
    padding-left: .5em;
    padding-top: 1em
}

.done-today .mini-borders {
    height: 46%
}

.done-today .blue-button {
    margin-top: 14.7%
}

.done-today form {
    height: 100%;
    margin-top: 7%
}

.done-today .green-block {
    height: 32%;
    background-size: cover;
    position: relative
}

.done-today .menu {
    height: 37%
}

.done-today .enter {
    width: 98%;
    margin-top: 4.5%
}

.done-today textarea {
    display: block;
    width: 78%;
    margin: 5% auto;
    height: 78.5%;
    background-color: #fefefe;
    font-size: 1.9em;
    padding: 3%;
    resize: none;
    color: #3f444a;
    font-family: "Open Sans", sans-serif
}

.done-today textarea::-webkit-input-placeholder {
    color: #3f444a
}

.done-today .icons {
    width: 83%;
    margin: 0 auto;
    padding-left: 3.5%
}

.done-today .icon {
    margin: -12% auto 2%
}

.done-today .need-margin {
    display: inline-block;
    width: 23%
}

.record .medium-circle-green {
    background-color: #f06d54
}

.record .green-block {
    background-image: url(../img/11.jpg)
}

.recorder .medium-circle-green {
    background-color: #ec5664
}

.recorder .green-block {
    background-image: url(../img/09.jpg)
}

.recorder form {
    margin-top: 0
}

.recorder textarea {
    margin-top: 3%;
    height: 85.5%
}

.recorder .mini-borders {
    height: 48%
}

.congratulations-pages {
    background-color: #bed8cb;
    height: 100%
}

.congratulations-pages .star-point {
    float: none
}

.congratulations-pages .star-point img {
    display: block;
    margin: 17% auto 15.5%;
    width: 12em
}

.congratulations-pages .menu {
    height: 20%
}

.congratulations-pages p {
    text-align: center;
    font-size: 1.9em;
    color: #3f444a
}

.congratulations-pages .need-margin {
    margin: 0 auto 19.5%;
    font-size: 2.8em;
    color: #000
}

.congratulations-pages .upper {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 2%
}

.congratulations-pages .right p {
    color: #fff
}

.select-a-task-pages {
    height: 100%;
    background-color: #b6a5cf
}

.select-a-task-pages .menu {
    height: 25%
}

.select-a-task-pages .need-margin {
    margin: 14% auto 3%;
    font-size: 1.3em;
    line-height: 1.3
}

.select-a-task-pages p {
    text-align: center;
    color: #fff;
    font-size: 1.9em;
    font-weight: 600
}

.select-a-task-pages .purple-block, .select-a-task-pages .task-pages .green-block, .task-pages .select-a-task-pages .green-block {
    height: 49%;
    background-image: url(../img/01.jpg);
    background-size: cover
}

.select-a-task-pages .purple-block img, .select-a-task-pages .task-pages .green-block img, .task-pages .select-a-task-pages .green-block img {
    width: 4.2em;
    height: auto
}

.select-a-task-pages .task-block {
    height: 17%;
    background-color: #7c6b95;
    width: 100%;
    display: table
}

.select-a-task-pages .task-block .my-margin, .select-a-task-pages .task-block p {
    display: table-cell;
    height: 100%;
    vertical-align: middle
}

.select-a-task-pages .task-block p {
    width: 75%;
    text-align: left;
    font-size: 2.2em;
    padding-left: 13%
}

.select-a-task-pages .task2 {
    background-color: #a290c4
}

.select-a-task-pages .task3 {
    background-color: #b6a5cf
}

.select-a-task-pages .star-point {
    margin: 0 22% 0 0
}

.select-a-task-pages .star-point img {
    width: 7em
}

.dont-worry {
    height: 100%;
    background-color: #8d7181
}

.dont-worry p {
    color: #fff;
    text-align: center;
    font-size: 2.25em
}

.dont-worry .bold {
    font-size: 2.8em;
    color: #fff
}

.dont-worry .block {
    height: 34%;
    background-image: url(../img/14.jpg);
    background-size: cover
}

.dont-worry .block2, .dont-worry .block3 {
    height: 33%;
    background-color: #ec5664;
    display: table;
    width: 100%
}

.dont-worry .block2 p, .dont-worry .block3 p {
    display: table-cell;
    vertical-align: middle
}

.dont-worry .block3 {
    background-color: #8d7181
}

.dont-worry .tasks {
    height: 51%;
    display: block;
    background-color: #d1c6cd
}

.dont-worry .tasks .task-block {
    height: 33.33333333%;
    background-color: #a48d9a;
    display: table;
    width: 100%
}

.dont-worry .tasks .task-block p {
    width: 75%;
    text-align: left;
    padding-left: 13%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-weight: 600
}

.dont-worry .tasks .task2 {
    background-color: #bbaab3
}

.dont-worry .tasks .task3 {
    background-color: #d1c6cd
}

.dont-worry .tasks .my-margin {
    display: table-cell;
    width: 100%;
    vertical-align: middle
}

.dont-worry .tasks .star-point {
    display: table;
    width: 100%
}

.dont-worry .tasks .star-point img {
    width: 8em;
    display: table-cell;
    vertical-align: middle
}

.dont-worry .tasks .square {
    display: table;
    width: 7em;
    height: 7em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 43%;
    left: 3%
}

.dont-worry .tasks .square img {
    display: table-cell;
    vertical-align: middle;
    width: 4em;
    margin: 1.5em auto 0
}

.call {
    height: 100%;
    background-color: #e5e8ec
}

.call .menu {
    height: 42%
}

.call .blue-block, .call .help .red-block, .help .call .red-block {
    height: 29.5%;
    background-color: #7dacc2;
    margin-bottom: 15%
}

.call .blue-block P, .call .help .red-block P, .help .call .red-block P {
    font-size: 3em;
    color: #fff;
    padding-left: 8%;
    font-weight: 700
}

.call .white-block {
    height: 11%;
    border-bottom: .23em solid #ccc;
    background-color: #fff;
    vertical-align: middle;
    display: table;
    width: 100%
}

.call .need-margin, .call .white-block p {
    display: table-cell;
    vertical-align: middle
}

.call .white-block p {
    font-size: 2em;
    color: #404041;
    font-weight: 600
}

.call .white-block img {
    margin: 1em auto 0;
    width: 4em;
    height: 4em
}

.call .last {
    border: none
}

.call .align {
    text-align: center;
    font-size: 2.5em;
    margin: 4% auto;
    color: #3a3d44;
    font-weight: 600
}

.call .pink-button {
    margin-bottom: 2%
}

.call .need-margin {
    width: 30%;
    padding-left: 10%
}

.call .medium-circle-gray {
    width: 6em;
    height: 6em;
    display: table;
    color: #fff;
    text-align: center;
    background-color: #ccd0d9
}

.call .medium-circle-gray i {
    display: table-cell;
    vertical-align: middle
}

.alone .blue-block, .alone .help .red-block, .help .alone .red-block {
    background-color: #f58b76;
    margin-bottom: 16.5%
}

.alone .blue-block p, .alone .help .red-block p, .help .alone .red-block p {
    font-size: 2.2em
}

.alone .blue-block .upper, .alone .help .red-block .upper, .help .alone .red-block .upper {
    font-size: 3em;
    margin-bottom: 3%
}

.alone .white-block {
    height: 11.5%
}

.alone .white-block p {
    font-size: 1.6em
}

.alone .white-block img {
    width: 6em;
    height: 6em;
    margin: 0
}

.alone .need-margin {
    width: 28%;
    padding-left: 9%
}

.alone .pink-button {
    margin: 18% auto 3%
}

.did-u-call {
    height: 100%
}

.did-u-call .menu {
    height: 46%
}

.did-u-call p {
    font-weight: 700;
    font-size: 3em;
    color: #fff;
    text-align: center
}

.did-u-call .birds-block {
    height: 50%;
    width: 100%;
    background-image: url(../img/07.jpg);
    background-size: cover
}

.did-u-call .no-block, .did-u-call .yes-block {
    display: table;
    width: 100%;
    height: 25%;
    background-color: #39ba99
}

.did-u-call .no-block p, .did-u-call .yes-block p {
    display: table-cell;
    vertical-align: middle
}

.did-u-call .no-block :active, .did-u-call .yes-block :active {
    background-color: #216c59
}

.did-u-call .no-block {
    background-color: #db4554
}

.did-u-call .no-block :active {
    background-color: #9c1e2b
}

.help {
    height: 100%;
    background-color: #bcd8ca
}

.help .menu {
    height: 23.5%
}

.help p {
    text-align: center;
    font-size: 2em;
    color: #434a54
}

.help .header-block {
    height: 32.5%
}

.help .red-square {
    width: 10em;
    height: 10em;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    margin: 0 auto 3%;
    background-color: rgba(219, 69, 84, .8)
}

.help .red-square p {
    font-size: 16em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    vertical-align: top;
    line-height: .55em
}

.help .blue-block, .help .red-block {
    height: 22%;
    background-color: #39add8;
    margin-bottom: 2%;
    display: table;
    width: 100%
}

.help .red-block {
    background-color: #db4554;
    margin-top: 2%
}

.help .purple-button {
    margin-top: 10.5%
}

.help .align {
    display: table-cell;
    vertical-align: middle
}

.help .big-circle {
    width: 12em;
    height: 12em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #2b82a2;
    margin: 0 auto;
    vertical-align: middle;
    display: block
}

.help .big-circle span {
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    display: block;
    font-size: 4em;
    font-weight: 700
}

.help .second {
    background-color: #a4343f
}

.menu-open .top-menu, .pin .enter {
    background-color: #bcd8ca
}

.pin .pink-button {
    margin-top: 58.5%
}

.pin .logo {
    padding-top: 16%
}

.pin span {
    text-align: center;
    font-size: 2.4em;
    display: block
}

.pin .medium-square {
    width: 2.2em;
    height: 2.2em;
    font-size: 8.5em
}

.pin .small-circle-blue, .pin .small-circle-green, .pin .small-circle-orange, .pin .small-circle-pink, .pin .small-circle-purple, .pin .small-circle-red {
    width: 2.8em;
    height: 2.8em
}

.pin .circles2 {
    width: 23em;
    margin: 2.5% auto
}

.menu-open {
    height: 100%;
    width: 80%;
    position: absolute
}

.menu-open .top-menu {
    height: 23%
}

.menu-open .logo {
    padding: 10% 0 2% 15%
}

.menu-open .medium-square {
    float: none;
    background-color: #bcd8ca;
    margin: 0;
    width: 2em;
    height: 2em;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    font-size: 4em
}

.menu-open .bot-menu {
    height: 77%;
    background-color: #434a54
}

.menu-open .small-circle-blue, .menu-open .small-circle-green, .menu-open .small-circle-orange, .menu-open .small-circle-pink, .menu-open .small-circle-purple, .menu-open .small-circle-red {
    width: 1.2em;
    height: 1.2em;
    margin: 0 .15em
}

.menu-open .circles3 {
    margin-left: 12%
}

.menu-open ul {
    padding-top: 4%
}

.menu-open ul li {
    color: #fff;
    text-decoration: none;
    font-size: 2.2em;
    padding: 3.5% 0 3.5% 15%
}

.menu-open ul li:active {
    background-color: #a4343f
}

.info {
    height: 100%
}

.info .gray-block {
    height: 44.5%;
    background-image: url(../img/18.jpg);
    background-size: cover
}

.info .gray-block .menu {
    height: 29%
}

.info .gray-block P {
    color: #fff;
    font-size: 2em;
    padding-left: 9%;
    margin-bottom: 5%;
    font-weight: 700
}

.info .gray-block .bold {
    font-size: 3em;
    margin-bottom: 13%
}

.info .descriptions {
    overflow-y: scroll;
    background-color: #e5e8ec;
    height: 55.4%;
    width: 100%
}

.info .descriptions p {
    color: #434a54;
    font-size: 2.2em;
    padding: 0 6% 0 9%
}

.info .descriptions .upper {
    margin: 5% 0 2%
}

.connections {
    height: 100%
}

.connections .gray-block {
    height: 23%;
    background-color: #434a54
}

.connections .gray-block .menu {
    height: 57%
}

.connections .gray-block P {
    font-size: 2.5em;
    text-align: center;
    color: #fff
}

.connections .gray-block img {
    position: absolute;
    width: 5em;
    height: 5em;
    right: 3.5%;
    top: 19%
}

.connections .descriptions {
    height: 77%;
    background-color: #e5e8ec
}

.connections .descriptions .disconnect-box {
    display: none;
    position: absolute;
    width: 85%;
    height: 37%;
    background-color: #666e78;
    -webkit-border-radius: 3%;
    border-radius: 3%;
    margin-left: 7.5%;
    top: 29%
}

.connections .descriptions .disconnect-box h1 {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-family: "Helvetica LT Std", sans-serif;
    font-weight: 700;
    padding-top: 5%
}

.connections .descriptions .disconnect-box p {
    width: 53%;
    height: 2em;
    color: #fff;
    border: .12em solid #fff;
    margin: 9% auto 0;
    padding: 0;
    font-family: "Helvetica LT Std", sans-serif;
    font-weight: 700;
    vertical-align: middle;
    line-height: 2em
}

.connections .descriptions .disconnect-box p:active {
    background-color: #a4343f
}

.connections .descriptions .disconnect-box .need-margin {
    margin-top: 14%
}

.connections .descriptions p {
    text-align: center;
    font-size: 2.2em;
    color: #434a54;
    padding: 14% 0 9%
}

.connections .descriptions .white-block {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    height: 10.5%;
    width: 100%
}

.connections .descriptions .white-block .block {
    width: 29%;
    display: table;
    float: left
}

.connections .descriptions .white-block .block p {
    display: table-cell;
    vertical-align: middle;
    color: #666e78
}

.connections .descriptions .white-block .circle {
    width: 3em;
    height: 100%;
    display: table
}

.connections .descriptions .white-block .circle .align {
    display: table-cell;
    vertical-align: middle;
    height: 100%
}

.connections .descriptions .white-block .circle .small-circle-green {
    display: table-cell;
    width: 3em;
    height: 3em;
    vertical-align: middle
}

.connections .descriptions .active .small-circle-red {
    background-color: #a0ce69
}

.password-screen .input {
    width: 88%;
    height: 2.1em;
    margin: 0 auto 4%
}

.password-screen .green-button {
    background-color: #1fa597;
    opacity: .7
}

.password-screen .generate {
    width: 76%;
    margin: 7% auto 4%;
    height: 1.5em;
    background-color: #a9b1bc;
    color: grey;
    text-align: center;
    font-size: 3em;
    vertical-align: middle;
    line-height: 1.5em;
    font-family: initial, sans-serif
}

.password-screen .generate img {
    width: .85em;
    height: 1.1em;
    position: absolute;
    opacity: .7;
    margin-top: .15em;
    left: -webkit-calc(50% - .45em);
    left: calc(50% - .45em)
}

.password-screen .descriptions p {
    text-align: center;
    font-size: 2.1em;
    color: #434a54;
    padding: 15% 0 4%
}

.password-screen .pink-button {
    margin-top: 3%;
    background-color: #d71a60;
    opacity: .7
}

.password-screen .spinner {
    display: block;
    height: 7em;
    width: 7em;
    background: url(../img/spinner3.gif);
    background-size: cover;
    margin: 0 auto
}

.points {
    height: 100%
}

.points .descriptions {
    overflow-y: scroll
}

.points .descriptions p {
    font-size: 12em;
    padding: 0;
    font-weight: 700;
    line-height: .8em;
    font-family: "Helvetica LT Std", sans-serif
}

.points .descriptions .bold {
    font-size: 2em;
    padding: 16% 0 8%
}

.points .descriptions .upper {
    font-size: 2.1em;
    padding: 1% 0 5%;
    font-weight: 400;
    color: #000
}

.points .descriptions .star-point {
    float: none;
    margin: 0
}

.points .descriptions .star-point img {
    margin: 0 auto;
    width: 12em;
    display: block
}

.points .descriptions .align {
    font-size: 2em;
    margin: 5% 0
}

.points .descriptions .text {
    width: 75%;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: "Open Sans", sans-serif
}

.expansions .descriptions p {
    width: 80%;
    margin: 0 auto;
    font-size: 2.1em;
    padding: 8% 0
}

.expansions .eat-block {
    height: 34%
}

.expansions .eat-block .eat {
    width: 49%;
    height: 100%;
    display: inline-block
}

.expansions .eat-block .eat img {
    width: 12em;
    height: 12em;
    margin: 0 auto;
    display: block
}

.expansions .eat-block .eat p {
    font-size: 2.2em;
    padding: 5% 0 0
}

.overview {
    height: 100%
}

.overview .descriptions .hr {
    background-color: #f4ba43;
    height: .11em;
    width: 100%
}

.overview .descriptions .tabs-controls {
    padding-top: .7em;
    height: 4.2em;
    border-bottom: .2em solid #f4ba43
}

.overview .descriptions .tabs-controls .active a {
    border-bottom: .4em solid #f4ba43
}

.overview .descriptions .pink-button {
    margin-top: 18%;
    font-size: 3em;
    line-height: 1.4em;
    height: 1.5em
}

.overview .descriptions .tabs {
    height: 65%;
    margin-bottom: 10%
}

.overview .descriptions .tabs-list {
    height: 100%
}

.overview .descriptions .tabs-list input {
    width: 45%;
    display: inline-block;
    float: left;
    height: 1.8em;
    font-size: 1.9em;
    line-height: 1.9em;
    margin-top: 4.5%
}

.overview .descriptions .tabs-list .blue-button {
    background-color: #1fa597;
    opacity: .8;
    margin-left: 5%
}

.overview .descriptions .tabs-list .blue-button:active {
    background-color: #0f4f48
}

.overview .descriptions .tabs-list .red-button {
    background-color: #D71A60;
    opacity: .8
}

.overview .descriptions .tabs-list .red-button:active {
    background-color: #7c0f37
}

.overview .descriptions .tabs-item {
    height: 100%;
    list-style: none;
    display: none
}

.overview .descriptions .tabs-item.active {
    display: block
}

.overview .descriptions a {
    font-size: 2.1em;
    color: #434a54;
    text-align: center;
    width: 33.3%;
    display: block;
    float: left;
    padding: .3em 0;
    font-weight: 400;
    height: 1.1em;
    position: relative
}

.overview .descriptions a i {
    float: right;
    font-size: 2em;
    margin-right: .1em
}

.overview .descriptions a img {
    width: .9em;
    height: 1.2em;
    float: left;
    opacity: .8;
    padding-left: 5%
}

.overview .descriptions a .arrow {
    width: .1em;
    padding: 0;
    position: absolute;
    right: -1%
}

.overview .descriptions p {
    padding: 11% 0 1%;
    color: #000;
    font-size: 2.2em
}

.overview .descriptions .graph, .overview .descriptions .graph2, .overview .descriptions .graph3 {
    height: 64%;
    width: 90%;
    background-color: #db7093;
    margin: 0 auto
}

.overview .descriptions .graph2 {
    background-color: #daa520
}

.overview .descriptions .graph3 {
    background-color: #00bfff
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    body {
        font-size: 8.5px
    }

    #div_registerLikes, #div_registerStruggles, #window_registerScreen {
        font-size: 7.5px
    }

    #div_sendPin .green-button {
        margin-top: 68%
    }

    #window_registerScreen .article {
        padding: 7% 0 4% 8%
    }

    #div_registerContacts, .call, .congratulations-pages, .done-today, .feeling-pages {
        font-size: 8px
    }

    #div_registerContacts .pink-button {
        margin-top: 11%
    }

    .feeling-pages .smiles {
        margin-bottom: 6%
    }

    .feeling-pages .need-margin {
        margin-bottom: 0
    }

    .select-a-task-pages .need-margin {
        margin-top: 7%
    }

    .congratulations-pages .star-point img {
        margin: 10% auto
    }

    .call .blue-block, .call .help .red-block, .help .call .red-block {
        margin-bottom: 10%
    }

    .help {
        font-size: 7px
    }

    .pin {
        font-size: 8px
    }

    .pin .pink-button {
        margin-top: 35%
    }

    .menu-open .top-menu {
        height: 26%
    }

    .menu-open .bot-menu {
        height: 74%
    }

    .info .gray-block .bold {
        margin-bottom: 7%
    }

    .password-screen .descriptions p {
        padding: 5% 0 2%
    }

    .password-screen .generate {
        margin: 3% auto
    }

    .expansions {
        font-size: 7px
    }

    .connections .descriptions .disconnect-box {
        height: 43%
    }

    .overview .descriptions p {
        padding: 7% 0 1%
    }

    .overview .descriptions .pink-button {
        margin-top: 10%
    }
}

@media screen and (min-width: 360px) and (max-width: 409px) {
    body {
        font-size: 9px
    }

    #div_sendPin .green-button {
        margin-top: 65%
    }

    #window_registerScreen {
        font-size: 7px
    }

    #div_registerLikes, #div_registerStruggles, .done-today, .feeling-pages {
        font-size: 8px
    }

    #window_registerScreen .article {
        padding-top: 11.5%
    }

    .name-pages .pink-button {
        margin-top: 10%
    }

    .register-complete .circles {
        width: 20.8em
    }

    .feeling-pages .smiles {
        margin-bottom: 7%
    }

    .feeling-pages .need-margin {
        margin-bottom: 0
    }

    .select-a-task-pages .need-margin {
        margin-top: 5%
    }

    .done-today .blue-button {
        margin-top: 13.5%
    }

    .congratulations-pages .star-point img {
        margin: 13% auto
    }

    .congratulations-pages .need-margin {
        margin: 0 auto 12.5%
    }

    .pin .pink-button {
        margin-top: 50%
    }
}

@media screen and (min-width: 410px) and (max-width: 479px) {
    body {
        font-size: 10.5px
    }

    #div_sendPin .green-button {
        margin-top: 65%
    }

    #window_registerScreen {
        font-size: 9px
    }

    #div_registerLikes, #div_registerStruggles, .done-today, .feeling-pages {
        font-size: 8px
    }

    #window_registerScreen .article {
        padding-top: 9%
    }

    .name-pages .pink-button {
        margin-top: 10%
    }

    .register-complete .circles {
        width: 20.8em
    }

    .feeling-pages .smiles {
        margin-bottom: 7%
    }

    .feeling-pages .need-margin {
        margin-bottom: 0
    }

    .select-a-task-pages .need-margin {
        margin-top: 5%
    }

    .done-today .blue-button {
        margin-top: 13.5%
    }

    .congratulations-pages .star-point img {
        margin: 13% auto
    }

    .congratulations-pages .need-margin {
        margin: 0 auto 12.5%
    }
}

@media screen and (min-width: 480px) and (max-width: 520px) {
    body {
        font-size: 12.5px
    }

    #div_sendPin .green-button {
        margin-top: 62%
    }

    #window_registerScreen {
        font-size: 11px
    }

    #window_registerScreen .article {
        padding-top: 9%
    }

    #div_registerLikes, #div_registerStruggles {
        font-size: 10.5px
    }

    .name-pages .pink-button {
        margin-top: 10%
    }

    .register-complete .circles {
        width: 20.8em
    }

    .feeling-pages {
        font-size: 8px
    }

    .feeling-pages .smiles {
        margin-bottom: 7%
    }

    .feeling-pages .need-margin {
        margin-bottom: 0
    }

    .select-a-task-pages .need-margin {
        margin-top: 5%
    }

    .done-today {
        font-size: 10.5px
    }

    .done-today .blue-button {
        margin-top: 13.5%
    }

    .congratulations-pages .star-point img {
        margin: 13% auto
    }

    .congratulations-pages .need-margin {
        margin: 0 auto 12.5%
    }
}

@media screen and (min-width: 520px) and (max-width: 599px) {
    body {
        font-size: 11px
    }

    #div_sendPin .green-button {
        margin-top: 55%
    }

    #window_registerScreen {
        font-size: 9px
    }

    #window_registerScreen .article {
        padding-top: 5%
    }

    .medium-text {
        padding-top: 50%
    }

    #div_registerLikes, #div_registerStruggles {
        font-size: 10px
    }

    .done-today, .feeling-pages {
        font-size: 11px
    }

    .name-pages .pink-button {
        margin-top: 10%
    }

    .register-complete .circles {
        width: 20.8em
    }

    .feeling-pages .smiles {
        margin-bottom: 5%
    }

    .feeling-pages .need-margin {
        margin-bottom: 0
    }

    .task-pages .green-block .align {
        padding-top: 30%
    }

    .select-a-task-pages .need-margin {
        margin-top: 5%
    }

    .done-today .blue-button {
        margin-top: 11%
    }

    .congratulations-pages .star-point img {
        margin: 13% auto
    }

    .congratulations-pages .need-margin {
        margin: 0 auto 12.5%
    }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    body {
        font-size: 14px
    }

    #div_sendPin .green-button {
        margin-top: 60%
    }

    #window_registerScreen {
        font-size: 14.5px
    }

    #window_registerScreen .article {
        padding-top: 5%
    }

    .medium-text {
        padding-top: 60%
    }

    #div_registerLikes, #div_registerStruggles {
        font-size: 13px
    }

    .name-pages .pink-button {
        margin-top: 10%
    }

    .register-complete .circles {
        width: 20.8em
    }

    .feeling-pages {
        font-size: 11px
    }

    .feeling-pages .smiles {
        margin-bottom: 5%
    }

    .feeling-pages .need-margin {
        margin-bottom: 0
    }

    .task-pages .green-block .align {
        padding-top: 30%
    }

    .select-a-task-pages .need-margin {
        margin-top: 5%
    }

    .done-today {
        font-size: 13px
    }

    .done-today .blue-button {
        margin-top: 14%
    }

    .congratulations-pages .star-point img {
        margin: 15% auto
    }

    .congratulations-pages .need-margin {
        margin: 0 auto 14.5%
    }

    .pin .pink-button {
        margin-top: 50%
    }
}